*{
    color: red;
}
body{
    margin-top: 180px;
}
div{
    margin-left: 50px;
}
p{
    font-size: 30px;
}
#p2{
    font-family: Verdana;
    font-size: 40px;
}
.wow{
    background-color: blueviolet;
}